body {
  text-align: center;
  font-family: helvetica;}

h1,
h2,
h3,
h4 {
  font-weight: bold;}

h1{
  font-size: 70px;}

h2 {
  font-size: 32px;}

h3 {
  font-size: 23px;}

p {
  font-size: 14px;}

.top,
.footer,
a {
  color: white;}

.top {
  font-size: 18px;
  background-image: url(../pictures/the-flatiron-building.png);}

h4 {
  background-image: url(../pictures/the-flatiron-building.png);
  font-size: 23px;}

.footer {
  font-size: 11px;
  background-color: dimgray;}
